<form action="/profile/<%= user._id %>/edit/" method="POST" class="form-group">

  <h2>Edit Profile</h2>

  <div>
    <label for="password">Edit Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter new password here...">
  </div>

  <div>
    <label for="email">Edit Email</label>
    <input type="text" class="form-control" name="email" id="email" value="<%= user.email %>">
  </div>

  <div>
    <label for="email">Edit Email</label>
    <input type="text" class="form-control" name="email" id="email" value="<%= user.email %>">
  </div>



  <button type="submit" class="btn btn-primary btn-block">Submit</button>

  <p>
    <a href="/profile">Return to profile</a>
  </p>


</form>
