<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jamstar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Questrial|Pacifico|Raleway:900|Questrial|Quicksand" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <ul id="dropdown1" class="dropdown-content">
      <li><a class="header-link center-align" href="/jams/view">Search All</a></li>
      <li><a class="header-link center-align" href="/jams/new">Create</a></li>
      <li><a class="header-link center-align" href="/profile/myjams">My Created</a></li>
      <li><a class="header-link center-align" href="/profile/myattending">My Attending</a></li>
      <li><a class="header-link center-align" href="/profile/myinvites">My Invited</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
      <li><a class="header-link center-align" href="/jams/view">My Profile</a></li>
      <li><a class="header-link center-align" href="/jams/new">Log Out</a></li>
    </ul>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo valign-wrapper"><i class="fa fa-star-o" aria-hidden="true"></i>Jamstar</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if (!req.user) { %>
              <li><a class="header-link center-align" href="/jams/view">Search Jams</a></li>
              <li><a class="header-link center-align" href="/login">Login</a></li>
              <li><a class="header-link center-align sign-up" href="/signup">Sign Up</a></li>
            <% } else { %>
              <li><a class="header-link dropdown-button center-align" href="#!" data-activates="dropdown1">Jams<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="header-link center-align" href="/musicians/view">Search Musicians</a></li>
              <li><a class="header-link dropdown-button center-align" href="#!" data-activates="dropdown2">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
      <% if (!req.user) { %>
        <li><a href="/login"><p class="log-in">Login</p></a></li>
        <li><a href="/signup"><p class="sign-up">Sign Up</p></a></li>
      <% } else { %>
        <li><a href="/jams/view"><p>Search Jams</p></a></li>
        <li><a href="/jams/new"><p>Create a Jam</p></a></li>
        <li><a href="/profile/myjams"><p>My Created Jams</p></a></li>
        <li><a href="/profile/myjams"><p>Jams I'm Attending</p></a></li>
        <li><a href="/profile/myinvites"><p>Jams I'm Invited To</p></a></li>
        <li><a href="/musicians/view"><p>Search Musicians</p></a></li>
        <li><a href="/profile"><p>My Account</p></a></li>
      <% } %>
    </ul>

          <%- body -%>


    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
