<div class="secondary-header">

  <p>
    <a href="/musicians/view">< Back</a>
  </p>

    <h3>Profile</h3>

</div>

<div class="jams-container">

  <div class="jam-info">
    <h3><%= musician.username %></h3>
    <div class="img-container">
      <img src="<%= musician.pic_path %>">
    </div>
  </div>

</div>
