<div class="secondary-header">

  <p>
    <a href="/profile">< Return to profile</a>
  </p>

    <h3>Create new Jam</h3>

</div>


<form action="/jams/<%= req.user._id %>/view" method="POST" class="form-group">

  <div>
    <label for="name">Enter Jam Name</label>
    <input type="text" name="name" class="form-control">
  </div>

  <div>
    <label for="place">Select Location</label>
    <input type="hidden" name="latitude" id="latitude" placeholder="Latitude" class="form-control">
    <input type="hidden" name="longitude" id="longitude" placeholder="Longitude" class="form-control">
  </div>

  <div id="map"></div>

  <div>
    <label for="time">Enter Date/Time</label>
    <input type="datetime-local" name="time" class="form-control">
  </div>

  <button class="btn btn-primary btn-block">Create Jam</button>

  <% if (typeof(message) !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>

</form>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzW4MVaD-hRL-C6F_g79sxvibZz8pDLGQ&libraries=places&callback=initMap"></script>
