<div class="secondary-header">

  <p>
    <a href="/profile">< Return to profile</a>
  </p>

    <h3>Search All Jams</h3>

</div>

<div class="content-container">



<div class="row">
  <div class="col s6">
    <div id="jam-map"></div>
  </div>
  <div class="col s6">
    <div class="container2">
    <% for (i=0; i < jams.length; i++) { %>
        <div class="card horizontal">
          <div class="img-container valign-wrapper">
            <img class="circle" src="<%= jams[i].pic_path %>">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h3><%= jams[i].name %></h3>
              <p><%= jams[i].date %></p>
              <p><%= jams[i].time %></p>
            </div>
            <div class="card-action">
              <a href="">View Info</a>
              <a href="">Send Request</a>
            </div>
          </div>
        </div>
    <% } %>
  </div>
  </div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzW4MVaD-hRL-C6F_g79sxvibZz8pDLGQ&libraries=places&callback=showJamMarkers"></script>
